* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.woff2') format('woff2'),
    url('../assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  background-color: $body-bg;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1279.98px) {
    max-width: 92%;
  }

  @media (max-width: 767.98px) {
    max-width: 94%;
  }
}

img {
  max-width: 100%;
}
